In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## 1.) District Summary
1. Calculate the total number of schools
2. Calculate the total number of students
3. Calculate the total budget
4. Calculate the average math score 
5. Calculate the average reading score
6. Calculate the percentage of students with a passing math score (70 or greater)
7. Calculate the percentage of students with a passing reading score (70 or greater)
8. Calculate the percentage of students who passed math **and** reading (% Overall Passing)
9. Create a dataframe to hold the above results
* Optional: give the displayed data cleaner formatting

In [5]:
total_schools = school_data.shape[0]
total_students = student_data.shape[0]
total_budget = school_data['budget'].sum()
average_math_score = student_data['math_score'].mean()
average_reading_score = student_data['reading_score'].mean()
filt = student_data['math_score'] >= 70 
perc_passing_math = student_data[filt].shape[0]/total_students * 100
filt = student_data['reading_score'] >= 70 
perc_passing_reading = student_data[filt].shape[0]/total_students * 100
filt = (student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)
overall_passing = student_data[filt].shape[0]/total_students * 100

df_district_summary = pd.DataFrame({
    'Total Schools' : total_schools,
    'Total Students' : [f"{total_students:,}"],
    'Total Budget' : [f"${total_budget:,}"],
    'Average Math Score' : [f"{average_math_score:.2f}"],
    'Average Reading Score' : [f"{average_reading_score:.2f}"],
    '% Passing Math' : [f"{perc_passing_math:.1f}%"],
    '% Passing Reading' : [f"{perc_passing_reading:.1f}%"],
    'Overall Passing' : [f"{overall_passing:.1f}%"]
}, ["District Summary"])

df_district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
District Summary,15,"39,170","$24,649,428",78.99,81.88,75.0%,85.8%,65.2%

## School Summary
* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [48]:
df_school_summary = school_data[['school_name','type']].set_index('school_name')

# GroupBy dataobjects
student_grp = student_data.groupby(by='school_name')
school_grp = school_data.groupby(by='school_name')
school_complete_grp = school_data_complete.groupby(by='school_name')

df_school_summary['Total Students'] = student_grp['Student ID'].count()
df_school_summary['Total School Budget'] = school_grp['budget'].sum()
df_school_summary['Per Student Budget'] = df_school_summary['Total School Budget'] / df_school_summary['Total Students']
df_school_summary['Average Math Score'] = school_complete_grp['math_score'].mean()
df_school_summary['Average Reading Score'] = school_complete_grp['reading_score'].mean()
filt = student_data['math_score'] >= 70
df_school_summary['% Passing Math'] = student_data[filt].groupby(by='school_name')['Student ID'].count() / df_school_summary['Total Students'] * 100
filt = student_data['reading_score'] >= 70 
df_school_summary['% Passing Reading'] = student_data[filt].groupby(by='school_name')['Student ID'].count() / df_school_summary['Total Students'] * 100
filt = (student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)
df_school_summary['% Overall Passing'] = student_data[filt].groupby(by='school_name')['Student ID'].count() / df_school_summary['Total Students'] * 100

df_school_summary = df_school_summary.sort_values(by="school_name").rename_axis(None).rename(columns={'type':'School Type'})

df_school_summary_stylized = df_school_summary.style.format({'Total Students': "{:,}", 'Total School Budget': "${:,}" , 
                                'Per Student Budget' : "${:.2f}",
                                'Average Math Score' : "{:.2f}", 'Average Reading Score' : "{:.2f}", 
                                '% Passing Math' : "{:.2f}%", '% Passing Reading' : "{:.2f}%",
                                '% Overall Passing' : "{:.2f}%"})

df_school_summary_stylized

## Top Performing Schools (By % Overall Passing)
* Sort and display the top five performing schools by % overall passing.

In [53]:
df_top_performers = df_school_summary.sort_values(by="% Overall Passing",ascending=False).head()
df_top_performers.style.format({'Total Students': "{:,}", 'Total School Budget': "${:,}" , 
                                'Per Student Budget' : "${:.2f}",
                                'Average Math Score' : "{:.2f}", 'Average Reading Score' : "{:.2f}", 
                                '% Passing Math' : "{:.2f}%", '% Passing Reading' : "{:.2f}%",
                                '% Overall Passing' : "{:.2f}%"})

## Math Scores by Grade
* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [62]:
index = list(((school_data_complete.sort_values(by="school_name"))['school_name']).unique())
data = []
columns = ["9th","10th","11th","12th"]

for i in range(9,13):
    df = school_data_complete[school_data_complete['grade']== (str(i)+'th')]
    data.append((df[["school_name","math_score"]].groupby(by='school_name').mean())['math_score'].values.tolist())

df_math_grades = pd.DataFrame(np.array(data).T,index=index,columns=columns)
df_math_grades.style.format('{:.2f}')

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [63]:
data = []
for i in range(9,13):
    df = school_data_complete[school_data_complete['grade']== (str(i)+'th')]
    data.append((df[["school_name","reading_score"]].groupby(by='school_name').mean())['reading_score'].values.tolist())

df_reading_grades = pd.DataFrame(np.array(data).T,index=index,columns=columns)
df_reading_grades.style.format('{:.2f}')

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [96]:
#df_school_summary['Per Student Budget'].plot.hist(bins=30)
bins = [0, 585, 630, 645, 675]
bin_names = ["<$584","$585-629","$630-644","$645-675"]
ds_bins = pd.cut(df_school_summary['Per Student Budget'], bins, labels=bin_names)
df_school_summary[['Average Math Score','Average Reading Score','% Passing Math', '% Passing Reading',
                   '% Overall Passing']].groupby(by=ds_bins).mean().rename_axis("Spending Ranges (Per Student)").style.format("{:.2f}")

## Scores by School Size

* Perform the same operations as above, based on school size.

In [103]:
#df_school_summary.head()
#df_school_summary['Total Students'].plot.hist(bins=20)
bins = [0,1000,2000,5000]
bin_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
ds_school_size_bins = pd.cut(df_school_summary['Total Students'], bins, labels=bin_names)
df_school_summary[['Average Math Score','Average Reading Score','% Passing Math', '% Passing Reading',
                   '% Overall Passing']].groupby(by=ds_school_size_bins).mean().rename_axis("School Size").style.format("{:.2f}")

## Scores by School Type

* Perform the same operations as above, based on school type

In [110]:
df_school_summary.groupby(by="School Type").mean()[['Average Math Score','Average Reading Score','% Passing Math', '% Passing Reading',
                   '% Overall Passing']].style.format("{:.2f}")